:root {
    --ming: #16697aff;
    --pacific-blue: #489fb5ff;
    --middle-blue: #82c0ccff;
    --isabelline: #ede7e3ff;
    --orange-peel: #ffa62bff;
    --gradient-top: linear-gradient(0deg, #16697aff, #489fb5ff, #82c0ccff, #ede7e3ff, #ffa62bff);
    --gradient-right: linear-gradient(90deg, #16697aff, #489fb5ff, #82c0ccff, #ede7e3ff, #ffa62bff);
    --gradient-bottom: linear-gradient(180deg, #16697aff, #489fb5ff, #82c0ccff, #ede7e3ff, #ffa62bff);
    --gradient-left: linear-gradient(270deg, #16697aff, #489fb5ff, #82c0ccff, #ede7e3ff, #ffa62bff);
    --gradient-top-right: linear-gradient(45deg, #16697aff, #489fb5ff, #82c0ccff, #ede7e3ff, #ffa62bff);
    --gradient-bottom-right: linear-gradient(135deg, #16697aff, #489fb5ff, #82c0ccff, #ede7e3ff, #ffa62bff);
    --gradient-top-left: linear-gradient(225deg, #16697aff, #489fb5ff, #82c0ccff, #ede7e3ff, #ffa62bff);
    --gradient-bottom-left: linear-gradient(315deg, #16697aff, #489fb5ff, #82c0ccff, #ede7e3ff, #ffa62bff);
    --gradient-radial: radial-gradient(#16697aff, #489fb5ff, #82c0ccff, #ede7e3ff, #ffa62bff);
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', 'Arial';
    font-weight: 400;
}

h1 {
    font-size: 5rem;
}

p, li, a {
    font-family: 'Open Sans';
    font-weight: 300;
}

.navbar {
    position: absolute;
    height: 10%;
    width: inherit;
    margin-bottom: 10px;
    z-index: 10;
}

.main-nav {
    width: inherit;
    display: none;
    text-align: center;
    background-color: white;

}

.active {
    display: block;
  }

.main-nav li {
    color: black;
    list-style-type: none;
    width: inherit;
    text-align: center;
    padding: 10px 0;

}

.nav-link-element {
    text-decoration: none;
    color: inherit;
}

.main-nav li:hover {
    background-color: var(--ming);
    color: white;
}

.logo {
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 12px;
    margin-left: 20px;
    height: 40px;
}

.navbar-toggle {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer; 
    font-size: 24px;
}

main {
    width: 100vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-img-wrapper {
    z-index: -1;
    height: inherit;
    width: inherit;
    position: absolute;
    top: 10%;
    background-color: black;

}

.hero-image {
    overflow: hidden;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

main h1 {
    height: fit-content;
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    color: white;
    font-weight: bold;
    text-align: center;
}

#button-wrapper {
    margin-top: 5%;
}

main button {
    height: 50px;
    width: 150px;
    border: none;
    margin: 0 10px;
    color: white;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Open Sans', 'Helvetica';
    border-radius: 40px;
}

#map-button:hover,
#list-button:hover
{
    background-color: white;
    color: black;
}

#map-button {
    background-color: var(--pacific-blue);
}

#list-button {
    background-color: var(--orange-peel);
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    main button{
        height: 35px;
        width: 105px;
    }
}